@charset "utf-8"

body
  font-family: OpenSans

h1
  color: #444
  text-shadow: 0px 1px #eee

.hero-unit
  padding-bottom: 10px

ul.index_navigation
  margin: 35px 0 0 0
  li
    display: inline
    margin: 0 25px

.center
  text-align: center

.right
  text-align: right

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf')

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf')
  font-weight: bold
