---
title: "Triage: Incredible Support Software"
---

.welcome
  %h1 Middleman is Watching
  %ul.navigation
    %li
      = link_to "GitHub Project", "https://github.com/jmacdonald/triage"
    %li
      = link_to "Download", "https://github.com/jmacdonald/triage/archive/master.zip"
